<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Ink Paint</title>
    <link rel="icon" href="../static/images/ink.ico">
    <link rel="stylesheet" href="../static/styles/style.css">
</head>
<body>

    <div id="ui">
        <p id="status">読み込み中...</p>
        <button id="resetBtn" onclick="resetGame()">RESET</button>
    </div>

    <a id="startLink" href="#"></a>

    <div id="stage-overlay" class="hidden">
        <div id="stage-number-text"></div>
    </div>

    <canvas id="gameCanvas"></canvas>

    <script src="../static/scripts/stages.js"></script>
    <script src="../static/scripts/game.js"></script>
</body>
</html>