<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Ink Paint</title>
    <link rel="icon" href="../static/images/ink.ico">
    <link rel="stylesheet" href="../static/styles/style.css">
</head>
<body>

    <a id="startLink" href="#" onclick="alert('Game Start!')">START</a>

    <canvas id="gameCanvas">
        <button onclick="resetGame()">リセット</button>
    </canvas>

    <script src="../static/scripts/stages.js"></script>
    <script src="../static/scripts/game.js"></script>
</body>
</html>